/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

     .facebook-share-button span{
          font-size: 14px;
     }

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 991px) {

     .yps-logo{
          width: 120px;
     }
     .quiz-row .float-left.object-center{
          float: inherit!important;
     }
     .quiz-row .quiz-title{
          text-align: center;
     }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

     .quiz-row a.object-center{
          margin: 0px;
          display: inherit;
     }



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
