/*----------------------------------------
General Styles
----------------------------------------*/
body {
    color: #ffffff;
    font-family: Nunito;
}

a {
    color: #ffffff;
}

a:hover {
    color: #dddddd;
}

html {
    scroll-behavior: smooth;
}

.box-shadow{
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.hide{
  display: none!important;
}
.object-center{
  margin:0 auto;
  display: table;
}

.base-title{
    font-size: 60px;
}

.font-ubuntu{
    font-family: 'Ubuntu', sans-serif!important;
}


.btn {
    color: #ffffff;
    padding: 8px 40px !important;
    margin: 10px;
    background: #00000040;
    border: 2px solid#cccccc;
    border-radius: 1000px;
}

.btn.focus, .btn:focus, button:focus {
    outline: 0px;
    box-shadow: none;
}
.m-t-30{
     margin-top: 30px;
}

.btn-rounded {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.py-4 {
    min-height: calc(100vh - 320px);
    position: relative;
}



.brand-logo {
    height: 80px;
    width: auto;
}

.yps-logo {
    width: 160px;
    height: auto;
}


.facebook-share-button {
    border: none !important;
    background: #3f9ae5;
    padding: 0px !important;
    border-radius: 0;
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    right: 0px;
}

.facebook-share-button span {
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 700;
}

.facebook-share {
    width: auto;
    height: 36px;
    background: #ffffff;
}

footer {
    margin-bottom: 20px;
}


.result {
    padding-left: 500px;
    padding-top: 20px;
    align: center;
}

.navbar-toggler {
    padding: 0;
    font-size: 2rem;
}

/* Quiz Page Style */

.quizzes-list{
      z-index: 999;
}

.quiz-row {
    animation-name: movee;
    animation-duration: 3s;
    background: #00000040;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 20px;
}



@keyframes movee {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}




.quiz-row .round-icon {

    margin: 0px 15px;
    margin-top: 5px;

}

.quiz-row .round-icon img {

    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 8px;
    border: 2px solid#888888;

}

.quiz-row.active .round-icon img {
    border-color: #cccccc;
}


.quiz-row .quiz-title {
    color: #aaaaaa;
    margin-top: 10px;
    margin-left: 10px;
}

.quiz-row .quiz-description {
     margin-bottom: 30px;
}

.quiz-row.active .quiz-title {
    color: #ffffff;
}

.quiz-row .take-quiz-button {
    color: #aaaaaa;
    border-color: #888888;
    background: transparent;
    margin-bottom: 15px;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

.quiz-row.active .take-quiz-button {
    color: #ffffff;
    border-color: #cccccc;
}

.quiz-row .take-quiz-button img {
    height: 16px;
    width: auto;
    margin-right: 5px;
}

.quiz-row.active .take-quiz-button img {

}
.load-more-button{

    cursor: mouse;
}
.min-width-button{

    min-width: 220px;
}

.quiz-data-row.btn{
  border: 0px;
  padding: 20px 40px!important;
}

/* Single Quiz Page Style */

.single-quiz{
  margin-bottom: 60px;
}

.single-quiz .box-shadow{
    background: #00000040;
}
.quiz-text{
  padding: 20px;
}
.single-quiz .quiz-title{
  margin-bottom: 10px;
}

.single-quiz .quiz-banner img{
  border-radius: 10px;
}

span.quiz-data-value {
    color: #00fff3e6;
    font-weight: 700;
}

/* Quiz Start Page Start Here */

.question-title{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
.question-row.box-shadow {
    background: #11f0fb66;
    padding: 20px;
}

.clock-wrapper span {
    font-size: 60px;
    font-weight: 700;
  color:#00fff3e6;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.quiz-timer{
  padding-bottom:20px;
}

.modal-content{
  background: #117a8b;
}

.modal-body{
padding-left: 40px;
padding-right: 40px;
text-align: center;
}

.modal-header{
  border-bottom: 0px;
}

.modal-footer{
  border-top:0px;
}
.close{
  color: #ffffff;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover{
  color: #dddddd;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

p {
    font-weight: 300;
}

.warpper {
    width: 100%;
    height: 100%;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #032460 10%, #01163d 50%);
}

/* The container */
.radio-container {
    display: block;
    position: relative;
    padding-left: 80px !important;
    margin-bottom: 12px;
    cursor: pointer;
    padding: 10px 20px;
    background: #00000040;
    border-radius: 1000px;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 8px;
    left: 20px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.score-section .badge {
    margin: 20px auto;
    display: table;
    min-width: 60px;
    font-size: 24px;
    padding: 8px 20px;
}

.score-card h4 {
    padding: 10px;
}

.share-icon {
    margin: 0 auto;
    display: table;
}

.share-icon a img {
    width: auto;
    height: 60px;
}

.share-icon a {
    margin-right: 30px;
}

.share-icon a:last-child {
    margin-right: 0px;
}
