body {
  background: #222;
  color: #fff;
  position: relative;
  text-align: center;
  font-size: 1rem;

  padding-bottom: 3em;
}

.page-wrap {
  display: inline-block;
  margin: 2em auto;
     font-family: 'Piedra';

}

.controls__input {
  display: block;
  margin: 0 auto;
  background: none;
  border: none;
  font-size: 1em;
  padding-bottom: .5em;
  border-bottom: 2px solid #ccc;
  text-align: center;
  outline: none;
  color: #fff;
}
.controls__btn {
  background: dodgerblue;
  color: #fff;
  border: none;
  font-size: 1em;
}
.controls__label {
  display: block;
  font-size: .8em;
  padding-top: .3em;
  margin-bottom: 2em;
}

canvas {
  background-color: #eee;
  transition: opacity .3s;
  font-family: 'Piedra';
}
canvas.show {
  opacity: 1;
}

.canvas-wrap {
  margin-top: 50px;
  position: relative;

}

#canvasID {
  z-index: 9999;
}
